#tablesec{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0% 4%;
}
form{
    display: flex;
    flex-direction: column;
}
.input{
    margin-bottom: 1.5em;
    height: 3em;
    width: 30em;
    border-radius: 8px;
    border: 1px solid gray;
}
#tablebtn{
    height: 2em;
    width: 10em;
}
@media(max-width:1100px){
    .input{
        margin-bottom: 1.5em;
        height: 3em;
        width:25em;
        border-radius: 8px;
        border: 1px solid gray;
    }
    #map{
        height: 330px;
        width: 400px;
    }
}
@media(max-width:910px){
    .input{
        margin-bottom: 1em;
        height: 3em;
        width:20em;
        border-radius: 8px;
        border: 1px solid gray;
    }
    #map{
        height: 300px;
        width: 350px;
    }
}
@media(max-width:755px){
    #tablesec{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        padding: 4% 0%;
    }
    .input{
        margin-bottom: 1em;
        height: 3em;
        width:16em;
        border-radius: 8px;
        border: 1px solid gray;
    }
    #map{
        height: 300px;
        width: 280px;
        margin-top: 1em;
    }
}